<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><b>{{title}} Mitre</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="#">Contacto</a>
      <a class="nav-link" href="#">Quienes Somos</a>
    </div>
  </div>
</nav>
<div class="titulo_tabla">
  <h1>
    Listado de Muebles
  </h1>
</div>
<div class="conteiner">
  <div class="row">
    <div class="col-8">
      <app-muebles-list></app-muebles-list>
    </div>
    <div class="col-4">
      CARRITO DE COMPRA
    </div>
  </div>

</div>



<footer>
  {{title}} Mitre - Mitre 132 - Rauch
</footer>