<div class="titulo_tabla">
    <h1>
      Listado de Muebles
    </h1>
</div>
<table class="table text-center">
    <thead class="thead-dark">
        <tr>
            <th>Descripción</th>
            <th>Material</th>
            <th>Características</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let mueble of muebles" [ngClass]="{'oferta': mueble.oferta}">
            <td>{{mueble.descripcion}}</td>
            <td>{{mueble.material}}</td>
            <td>{{mueble.caracteristicas}}</td>
            <td>{{mueble.precio | currency}}</td>
            <td><b class="badge badge-pill badge-danger" *ngIf="mueble.stock == 0">SIN STOCK</b></td>
            <td>
                <app-input-integer [(cantidad)]="mueble.cantidad" [tope]="mueble.stock" *ngIf="mueble.stock" (topeAlcanzado)="topeAlcanzado($event)"></app-input-integer>
            </td>
        </tr>
        
    </tbody>
</table>
